
body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #f8e3d8;
}

.background_img{
    width: 100%;
    pointer-events: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* .raining{
    position: absolute;
    z-index: -1;
    right: 0;
    width: 42.4%;
    height: 41.3%;
} */

.container{
    position: relative;
}

.icon_container{
    position: absolute;
    cursor: pointer;
}

.icon_container:nth-of-type(1){
    top: 18%;
    left: 24%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.icon_container:nth-of-type(2){
    top: 29%;
    left: 24%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}

.icon_container:nth-of-type(3){
    top: 40%;
    left: 24%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.icon_container:nth-of-type(4){
    top: 51%;
    left: 24%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.icon_container:nth-of-type(5){
    top: 62%;
    left: 24%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.icon_container:nth-of-type(6){
    top: 18%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.icon img{
    width: 3.5vw;
}

.popup{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s; 
}

.close{
    font-size: 2vw;
    color: #f68c90;
    font-weight: bold;
    margin-right: 1%;
    float: right;
    cursor: pointer; 
}


/* folder popup */
#folder_popup{
    border-radius: 15px;
    width: 30%;
    height: 37%;
    top:16%;
    left:37%;
    background-color: white;
}

.close:nth-of-type(1){
    color:white;
    float: none;
    align-items: center;
    margin-left: 2%;
}

.folder_location{
    margin-left: 1vw;
    border-width: 0.1vw;
    width: 83%;
    font-size: 1.9vh;
    font-weight: bold;
    padding-left: 1vw;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    color: white;
    cursor: default;
}

.folder_header{
    display:flex;
    background-color:#f68c90;
}

.files{
    float: left;
    margin-top: 1vh;
    margin-left: 1vw;
}
.files img{
    cursor: pointer;
    margin-left: 3%;
}


/* pc popup */
#pc_popup{
    border-radius: 15px;
    width: 30%;
    height: 37%;
    top:16%;
    left:37%;
    background-color: white;
}

/* bin popup */
#bin_popup{
    border-radius: 15px;
    width: 30%;
    height: 37%;
    top:16%;
    left:37%;
    background-color: white;
}

/* about me */
#about_me_popup{
    border-radius: 15px;
    width: 20%;
    height: 50%;
    top:16%;
    left:37%;
    background-color: white;
}

.about_container{
    text-align: center;
    height: 40%;
}

.close_cont{
    text-align: right;
    margin-right: 4%;
}

.close2{
    width: 100%;
    font-size: 2vw;
    color: #f68c90;
    font-weight: bold;
    cursor: pointer;
}


.pfp_abt{
    margin-bottom: 3vh;
}

.abot_info p, h2{
    color: #5d5d5d;
    margin: 0;
}

.abt_intro{
    color: #5d5d5d;
    margin: 0.8vh auto;
    text-align: center;
    height: 35%;
    width: 95%;
    overflow: auto;
    bottom: 0%;
}


/* scroll bars from ww3 */
/* width */
::-webkit-scrollbar {
    width: 0.8vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f68c90; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d27c7f; 
  }




.windows_footer{
    position: absolute;
    top: 70.7%;
    left: 23.5%;
}
